body {
    font-family: roboto;
    background-color: black;
    color: black ;
    margin: 10;
    padding: 10;
}

div {
    padding: 10;
}

.card {
    background-color: white;
    height: 800px;
    width: 600px;
    margin: 100px auto;
}

  

.image {
    padding-top: 35px;
    size-adjust: flex;
}

#threeDots {
    padding-left: 545px;
}

.image img {
    width: 500px;
}

.card-body {
   display: inline-block;
    margin-left: 10 !important;
}

i {
    font-size: 50px;
}

#toTheLeft {
    margin-left: 400px;
}

h1 {
    margin: 0;
}
 h2 {
    margin: 0;
 }